/* Reset de alguns estilos padrão, que variam entre navegadores */
/* Também há definições básicas para tags */
/* Esta seção funciona como um arquivo base.css da metodologia SMACSS */

@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
}

/* Home */

.home {
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  min-height: 100dvh;
  place-items: center;
}

.home__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.home__wrapper p {
  max-width: 50ch;
  text-align: center;
}

.home__wrapper button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.5em;
  color: black;
  padding: 1em 1.5em;
  transition: all 0.3s ease-out;
}

.home__wrapper button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* "All you need" */

.all-you-need {
  display: flex;
  flex-direction: column;
  padding: 2em;
  row-gap: 2em;
}

.all-you-need__wrapper {
  columns: 2;
  margin-inline: auto;
  width: clamp(500px, 70%, 900px);
}

/* Devices */

.devices {
  background-color: #444;
  padding: 2em;
}

.devices__wrapper {
  column-gap: 1em;
  display: flex;
  margin-inline: auto;
  width: clamp(500px, 70%, 900px);
}

.devices__container {
  align-items: center;
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  height: 620px;
  row-gap: 2em;
  text-align: center;
}

.devices__container img {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  height: 50%;
  width: 100%;
}

.devices__container p {
  margin-inline: auto;
  width: 90%;
}

/* Our difference */

.our-difference {
  padding: 2em;
}

.our-difference__wrapper {
  flex-direction: column;
  display: flex;
  margin-inline: auto;
  row-gap: 2em;
  width: clamp(500px, 70%, 900px);
}

.our-difference__wrapper p {
  text-align: center;
}

/* Contact us */

.contact-us {
  background-color: #444;
  padding: 2em;
}

.contact-us__wrapper {
  color: white;
  display: flex;
  margin-inline: auto;
  width: clamp(500px, 70%, 900px);
}

.contact-us__contact {
  background-color: rgb(62, 62, 224);
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  row-gap: 2em;
  text-align: center;
}

.contact-us__about {
  background-color: black;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  row-gap: 2em;
  text-align: center;
}

/* Footer */

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding-block: 2em;
}

footer span {
  color: cyan;
}

/* Block */
.block {
  background-color: white;
  color: black;
  display: none;
  min-height: 100dvh;
  place-items: center;
  position: fixed;
  width: 100%;
}

.block p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
